.cart-container {
    border: 1px solid rgb(152, 152, 152);
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 350px;
    padding: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hr-line {
    height:.2rem;
    border: 1px solid rgb(152, 152, 152);
    margin:3rem 4rem;
    border-radius:2rem;
    background-color:rgb(152, 152, 152);
    box-shadow:0 4px 8px 0 rgba(0,0,0,.5);
}

.foundItem {
    /* border: 1px solid red; */
    font-size: 3rem;
    color: green;
    display: block;
    margin: 2rem auto;
    text-align: center;
}

.subtotal-container button{
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    /* display: block; */
    font-size: 2rem;
    margin: 0 auto;
    background-color: rgb(197, 197, 197);
    color: rgb(0, 162, 41);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    cursor: pointer;
}

.subtotal-container button:active{
    transform: scale(.99);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    color: white;
}

.subtotal {
    font-size: 2rem;
    color: #626262;
    font-family: Arial, Helvetica, sans-serif;
    
}
.subtotal span{
    color: rgb(0, 154, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}