.button {
    padding: 1rem;
    border: 1px solid #b6b6b6;
    margin: 0 .5rem;
    color: #303030;
    border-radius: 2rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    transition: all .2s ease;
}

.button:hover {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
}

.button:active{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0);

}

.goToCart{
    background-color: green;
    color: white;
}

.button-container {
    display: flex;
    /* border: 1px solid green; */
    padding: .5rem;
}

.buy-button {
    background-color: green;
    color: white;
}

.savelater-button {
    background-color: orange;
    color: white;
}

.remove-button {
    background-color: red;
    color: white;
}

